/* header */
header {width:100%; border-bottom:1px solid rgba(255,255,255,0.4); position: fixed; left:0; top:0; z-index:10; transition:background-color 0.4s;}
.header_inner {width:96%; max-width:1280px; height:110px; margin:0 auto; position: relative;}
.header_inner h1 {position:absolute; left:0; top:50%; transform: translateY(-50%);}
.header_inner h1 a {display:block; width:170px; height:79px; text-indent:-9999px; background: url('../img/logo_w.png') no-repeat; background-size: cover; transition:background 0.4s;}

#gnb {width:62%; margin:0 auto;}
#gnb ul {display:flex; justify-content: space-around;}
#gnb ul li a {display:block; color:#fff; line-height:110px; font-weight:700; font-size:22px; transition: color 0.4s;}
#gnb ul li a:hover {color:#8cc63f;}

.user {position: absolute; right:0; top:50%; transform: translateY(-50%);}
.user .btn {display:block; width:50px; height:50px; border-radius: 50%; background: #fff; text-indent:-9999px;}
.user .user_bx {display:none; position: absolute; left:50%; top:65px; transform: translateX(-50%); box-shadow: 0 5px 13px rgba(0,0,0,0.15);}
.user .user_bx::before {content: ''; display:block; width:13px; height:8px; background: url('../img/arrow-user.png') no-repeat; position:absolute; left:50%; top:0; transform: translate(-50%, -100%);}
.user .user_bx ul li {border-bottom: 1px solid #e1e1e1;}
.user .user_bx ul li:last-child {border-bottom: none;}
.user .user_bx ul li a {display:block; width:100px; line-height:44px; color:#555; text-align:center; background-color: #fff; transition: 0.2s;}
.user .user_bx ul li a:hover {background-color: #333; color:#fff; font-weight:400;}

/* mobile m_menu_btn, m_gnb */
.m_menu_btn, #m_gnb {display:none;}
.m_menu_btn {position:absolute; right:0; top:50%; transform:translateY(-50%); cursor: pointer;}
.m_menu_btn span {display:block; width:40px; height:1px; margin:10px 0; background-color: #fff; transition: 0.4s;}
.m_menu_btn.change .bar1 {transform: rotate(-405deg) translate(-3px, 12px);}
.m_menu_btn.change .bar2 {opacity:0;}
.m_menu_btn.change .bar3 {transform: rotate(405deg) translate(-3px, -13px);}

#m_gnb {position:fixed; left:0; top:111px; width:100%; padding:30px 0; background-color: rgba(0,0,0,0.8);}
#m_gnb a {display:block; text-align:center; line-height:2.1; color:#fff; font-weight:700; font-size:22px;}
#m_gnb a:hover {text-decoration:underline;}


/* header white 활성화 */
header.white {background-color: rgba(255,255,255,0.9); box-shadow: 0 0 15px rgba(0,0,0,0.2);}
header.white h1 a {background-image: url('../img/logo_b.png');}
header.white #gnb ul li a {color:#333;}
header.white #gnb ul li a:hover {color:#8cc63f;}
header.white .m_menu_btn span {background-color:#000;}

/* footer */
footer {background-color: #121212; border-top: 1px solid #333;}
.footer_inner {width:96%; max-width:1280px; padding:50px 0; margin:0 auto; display:flex; justify-content: space-between;}
.footer_inner address,
.footer_inner p {display:block; font-size:12px; color:#888; line-height:1.5;}
.footer_inner .copyright {margin-top:25px;}
.f_utill {display:flex;}
.f_utill .sns {display:flex; margin:5px 20px 0 0;}
.f_utill .sns li a {display:block; width:23px; height:23px; text-indent: -9999px; opacity:0.4; background-size: contain; background-repeat: no-repeat;}
.f_utill .sns li.fb a {background-image:url('../img/icon-fb.png');}
.f_utill .sns li.insta {margin:0 20px 0 10px;}
.f_utill .sns li.insta a {background-image:url('../img/icon-insta.png');}
.f_utill .sns li.naver a {background-image:url('../img/icon-naver.png');}
.f_utill .family .btn {display:block; width:126px; line-height:30px; text-align:center; border:1px solid #555; color:#888; font-size:12px; font-weight:300;}


/* main */
.inner {width:90%; max-width:1280px; margin:0 auto; padding:50px 0;}
.title {margin-bottom: 50px; text-align:center;}
.title h4 {font-size:38px; font-weight:100; color:#1e1e1e; letter-spacing: -0.05em;}
.title h4 strong {font-size:38px; font-weight:700; color:#1e1e1e;}



@media (max-width:990px){
    #gnb, .user {display:none;}
    .m_menu_btn {display:block;}
    .header_inner h1 {left:50%; transform: translate(-50%, -50%);}
}
@media (max-width:768px){
    .f_utill .family {display:none;}
}
@media (max-width:576px){
    .footer_inner {flex-direction:column-reverse; transition: 0.4s;}
    .f_utill {margin-bottom:10px;}
}




