/* main visual */
.visual {background-color: #eee; position:relative;}
.visual .tit_bx {width:1280px; position: absolute; left:50%; top:250px; z-index:2; transform: translateX(-50%); text-align:right;}
.visual .tit_bx h2 {font-size:65px; font-weight:100; line-height:0.9; color:#fff; letter-spacing: -0.035em;}
.visual .tit_bx h2 strong {font-size:80px; font-weight:900; letter-spacing: -0.025em;}
.visual .tit_bx p {font-size:23px; font-weight:300; color:#fff; margin-top:35px;}

.swiper-container.main-swiper {width: 100vw; height: 100vh; min-height:600px;}
.main-swiper img {width:100%; height:100%;}
.main-swiper .swiper-slide {background-repeat: no-repeat; background-size: cover; background-position: center bottom;}
.main-swiper .swiper-slide::before {content: ''; display:block; width:100%; height:100%; background-color: rgba(0,0,0,0.5); position:absolute; left:0; top:0;}
.main-swiper .swiper-slide.slide01 {background-image: url('../img/visual01.jpg');}
.main-swiper .swiper-slide.slide02 {background-image: url('../img/visual02.jpg');}
.main-swiper .swiper-slide.slide03 {background-image: url('../img/visual03.jpg');}
.main-swiper .swiper-pagination {bottom:50px;}
.main-swiper .swiper-pagination-bullet {width:10px; height:10px; background:#fff; margin:0 10px !important;}
.main-swiper .swiper-pagination-bullet-active {background:#fff;}


/* info */





/* board */
