/* 
*{
    box-sizing: border-box;
} 

reset.css에 써있어서 안써도 됨
*/



/*section books*/

.books{
    /* width: 100%;  block요소는 기본 width:100% 이므로 불필요한 스타일 */
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

/*
.books_inner{
    max-width: 1280px;
    width: 100%;
    width:90%;
    margin: auto;        common.css에 .inner 공통클래스 만듦

    text-align: center;  common.css에 .title 공통클래스 만듦
}
*/

.books_inner p, .books_inner b{
    font-size: 30px;
    padding-top: 30px;
}

.book-swiper-wrapper {
    position: relative;
}
.book-swiper{
    width: calc(90% + 1px);
    position: static !important;
}

.book-swiper .swiper-wrapper{
    align-items: center;
}

.book-swiper .swiper-slide{
    height:318px;
    overflow: hidden;
    background-color: #fcfcfc;
    border: 1px solid #dfdfdf;
    cursor: pointer;

    /* 내부 이미지 중앙정렬 */
    display:flex;
    justify-content: center;
    align-items: center;
}

.book-swiper .swiper-slide img{
    width: 100%;
}

.book-swiper .swiper-button-next::after,
.book-swiper .swiper-button-prev::after {content:"";}
.book-swiper .swiper-button-next,
.book-swiper .swiper-button-prev {width:25px; height:44px;}
.book-swiper .swiper-button-next{
    top: 50%;
    background: url('../img/arrow-next.png');
}
.book-swiper .swiper-button-prev{
    top: 50%;
    background: url('../img/arrow-prev.png');
}

/*
.books .book_deta{
    max-width: 1280px;
    width: 100%;
    margin:  0 auto;    .inner 적용으로 필요없어짐
    
    border: 1px solid #ddd;
}
*/

.books .book_deta li{
    width: 87%;
    overflow: hidden;
    margin: auto;
    display:flex;
}

.books .book_deta li .deta_img{
    width: 30%;
    padding: 40px 20px 0;
}

.books .book_deta li .deta_img img{
    width: 100%;
    border: 1px solid #dfdfdf;
}

.books .book_deta li .deta_txt{
    width: 70%;
    padding: 40px 20px 0;
}

.books .book_deta li .deta_txt h5{
    font-size: 24px;
    font-weight: 400;
    margin-bottom:20px;
}
.books .book_deta li .deta_txt dl {display:flex; flex-wrap:wrap;}
.books .book_deta li .deta_txt dl dt {width: 70px; font-size:15px; line-height:1.6; padding-bottom:5px;}
.books .book_deta li .deta_txt dl dd {width:calc(100% - 70px); font-size:15px; line-height:1.6; font-weight:300;}


/*section contest*/

.contest{
    /* width: 100%;  block요소는 기본 width:100% 이므로 불필요한 스타일 */
    border-bottom:1px solid #ddd;
}

 /*
.contest_inner{
    max-width: 1280px;
    width: 100%;
    margin: auto;        .inner 적용으로 필요없어짐

    text-align: center;  .title 적용으로 필요없어짐
}
*/



.content{
    width: 60%;
    display: flex;
    margin: auto;
}

.poster{
    width: 50%;
    padding-right: 20px;
}

.poster img{
    width: 100%;
}

.content_txt{
    text-align: left;
    font-size: 15px;
}

/* .content .content_txt li dl {display:flex; flex-wrap:wrap;} */

.content .content_txt li dl dt {width: 70px; font-size:15px; line-height:1.6; padding-top:5px;}
.content .content_txt li dl dd {width:calc(100% - 70px); font-size:15px; line-height:1.6; font-weight:300;}

.contest_art{
    display: flex;
}

.contest_art li img{
    width: 100%;
}

.contest_inner button{
    border: 1px solid #000;
    padding: 10px;
}



/* section world art */
.worldArt {border-bottom: 1px solid #ddd;}

.worldArt-swiper .swiper-slide {
    display: flex;   
}



@media (max-width:990px){}

@media (max-width:768px){}

@media (max-width:576px){
    .books .book_deta li{
        flex-direction:column ;
    }

    .content{
        flex-direction:column ;
    }
}