

/*section books*/

.books{
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}


.books_inner p, .books_inner b{
    font-size: 30px;
    padding-top: 30px;
}

.books_box{
    overflow: hidden;
}

.book_container{
    width: 20%;
}

.book_wrap{
    width: 1800%;
    display: flex;
    margin-left: -100%;
}

.book_slide{
    width: 6.6667%;
    padding: 5px;
    z-index: 9;
}

.book_slide img{
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.arrow{
    position: absolute;
    top: 300px;

}

.prev{
    left: 250px;
}

.next{
    right: 250px;
}

/*book_deta*/

.books .book_deta li{
    width: 87%;
    overflow: hidden;
    margin: auto;
    display:flex;
}

.books .book_deta li .deta_img{
    width: 30%;
    padding: 40px 20px 0;
}

.books .book_deta li .deta_img img{
    width: 100%;
    border: 1px solid #dfdfdf;
}

.books .book_deta li .deta_txt{
    width: 70%;
    padding: 40px 20px 0;
}

.books .book_deta li .deta_txt h5{
    font-size: 24px;
    font-weight: 400;
    margin-bottom:20px;
}
.books .book_deta li .deta_txt dl {display:flex; flex-wrap:wrap;}
.books .book_deta li .deta_txt dl dt {width: 70px; font-size:15px; line-height:1.6; padding-bottom:5px;}
.books .book_deta li .deta_txt dl dd {width:calc(100% - 70px); font-size:15px; line-height:1.6; font-weight:300;}


/*section contest*/

.contest{
    border-bottom:1px solid #ddd;
}

.content{
    width: 60%;
    display: flex;
    margin: auto;
    position: relative;
}

.poster{
    width: 50%;
    padding-right: 20px;
}

.poster img{
    width: 100%;
}

.content_txt{
    text-align: left;
    font-size: 15px;
}

.content button{
    color: #ddd;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 60px;
    top: 390px;
    font-size: 12px;
    font-weight: 100;
}

.content .content_txt li dl dt {width: 70px; font-size:15px; line-height:1.6; padding-top:5px;}
.content .content_txt li dl dd {width:calc(100% - 70px); font-size:15px; line-height:1.6; font-weight:300;}

/* contest_art */

.contest_art{
    display: none;
}

.contest_art li{
    width: 200px;
    padding: 10px;
}
.contest_art li img{
    width: 100%;
    border: 1px solid #ddd;
}


/* section world art */
.worldArt {border-bottom: 1px solid #ddd;}

.worldArt-swiper{
    height: 355px;
}

.worldArt-swiper .swiper-slide {
    width: auto;
}

.worldArt-swiper .swiper-slide img{
    width: auto;
    height: 100%;
}

@media (max-width:990px){
    .poster{
        width: 80%;
    }

}

@media (max-width:768px){
    .poster{
        width: 80%;
    }
}

@media (max-width:576px){
    
    .book_container{
        width: 50%;
    }
    
    .books .book_deta li{
        flex-direction:column ;
    }

    .books .book_deta li .deta_img{
        width: 100%;
    }

    .poster{
        width: 100%;
    }

    .content{
        flex-direction:column ;
    }

}