*{
    box-sizing: border-box;
}

/*section books*/

.books{
    width: 100%;
    background-color: rgb(173, 173, 173);
}

.books_inner{
    max-width: 1280px;
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}

.books_inner p, .books_inner b{
    font-size: 30px;
    padding-top: 30px;
}

.book-swiper{
    width: 90%;
    position: static !important;
    padding: 10px;
}

.book-swiper .swiper-wrapper{
    align-items: center;
}

.book-swiper .swiper-slide{  
    padding: 12px;
}

.book-swiper .swiper-slide img{
    width: 100%;
    border: 1px solid #000;
}

.book-swiper .swiper-button-next{
    top: 60%;
}
.book-swiper .swiper-button-prev{
    top: 60%;
}

 .books .book_deta{
    max-width: 1280px;
    width: 100%;
    margin:  0 auto;
    border: 1px solid #000;
}

.books .book_deta li{
    width: 87%;
    overflow: hidden;
    margin: auto;
}

.books .book_deta li .deta_img{
    width: 30%;
    float: left;
    padding: 20px;
}


.books .book_deta li .deta_img img{
    width: 100%;
}

.books .book_deta li .deta_txt{
    width: 100%;
    padding: 20px;
}

.books .book_deta li .deta_txt h2{
    font-size: 24px;
    padding: 10px;
}

.books .book_deta li .deta_txt b{
    font-size: 18px;

}

.books .book_deta li .deta_txt p{
    font-size: 15px;
    padding: 5px;
}
/*section contest*/

.contest{
    width: 100%;
    background-color: rgb(207, 207, 207);
}

.contest_inner{
    max-width: 1280px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.contest_inner p, .contest b{
    font-size: 30px;
    padding: 30px 0;
}

.content{
    width: 60%;
    display: flex;
    margin: auto;
}

.poster{
    width: 50%;
}

.poster img{
    width: 100%;
}

.content_txt{
    text-align: left;
}

@media (max-width:990px){}

@media (max-width:768px){}

@media (max-width:576px){}